#about-page.info-page
  .row
    .container
      %h2 About Kay Kay Keung
      %h4 Founder, Strength & Conditioning Coach

      %hr

      %p
        After working at hospital, commercial, and studio gyms in the United States and Hong Kong, I wanted to combine my wide background of professional experiences to create my own brand. As I am to encourage people to train coming from any health status, challenge people to be more than average, and offer personalized coaching for each individual, Strength To Size is the product of that goal.

      %p
        Too often people lack basic strength, look healthy but are actually “skinny fat”, have impaired mobility, and/or never achieve lasting results even when exercising and watching what they eat. However, with the right methods I believe everyone is capable of improving their movement, health, strength, and performance no matter their history, age, or genetic disposition. All people and all aspects of fitness are trainable with the proper approach.

      %p
        Standing at 149cm/4’11” and weighing 48kg/105lb, I am regularly the smallest athlete on the field and possibly the world’s smallest strength & conditioning coach. Because of this, I have always emphasized strength to size ratio – the quality of body performance in relation to physical size. Strength To Size embodies this concept by focusing on quality, goal-oriented coaching, whether the goal is “functional” or “competitive” in strength or the goal is “slim” or “buff” in size. By training for optimal health, function, and fitness, everyone can increase their Strength To Size.

    
  .row.achievements
    .container
      .col-md-6
        %h5 Accreditations
        %ul
          %li BA Exercise and Sport Science - University of North Carolina
          %li Certified Strength and Conditioning Specialist - National Strength and Conditioning Association
          %li Sports Performance Coach – USA Weightlifting
          %li Certified Exercise Physiologist - American College of Sports Medicine
          %li Precision Nutrition Certified - Precision Nutrition
          %li Joint Mobility & Movement Instructor - Agatsu
          %li Pre & Post Natal Fitness Instructor - Asian Academy for Sports & Fitness Professionals
          %li Certified Personal Trainer – PTA Global
          %li Kettlebell Instructor - Agatsu
          %li TRX Suspension Trainer - TRX
   

      
      .col-md-6
        %h5 Athletic Achievements 
        %ul
          %li Hong Kong National Lacrosse Team
          %li Lacrosse League Champion Team - Hong Kong Lacrosse League
          %li Limitless Challenge Champion, Advance 2 Division – Tissot Limitless Challenge
          %li 4x Marathon Runner
          %li Lacrosse National Champion Team – Women’s Collegiate Lacrosse Association DII
          %li Cross Country Champion Team - University Sports Federation of Hong Kong
          %li Cross Country Most Valuable Player – University of Hong Kong

  .row
    .container
      %p
        = link_to 'Get Started Now', contact_path, class: "btn btn-primary btn-lg"