#about-page
  .container
    %h2 About Kay Kay Keung
    %h4 Founder, Strength & Conditioning Coach

    %p
      After working at hospital, commercial and studio gyms in the United States and Hong Kong, I set out to create a brand of my own drawing from my wide background of professional experience. Strength To Size is the product of that goal, aiming to encourage people to train coming from any health status, challenge people to be more than average, and offer coaching personalized for each individual.

    %p
      Too often people are lacking basic strength, “skinny fat”, never getting lasting results and/or don’t move well. Even when already exercising and watching what they eat. I believe everyone is capable of improving their mobility, fitness, strength, and performance no matter their history, age, or genetic disposition. Everyone and all aspects of health are trainable with the right approach.

    %p
      Strength to size ratio is the quality of body function in relation to physical size. Strength To Size embodies this concept, focusing on quality goal-oriented coaching whether the strength goal is “functional” or “competitive” and whether the size goal is “slim” or “buff”. Training for optimal health, fitness and performance, everyone can increase their Strength To Size.