#contact-page.info-page
  .container
    %h2 Contact Kay Kay Keung

    %hr

    %p
      For any bookings or enquires contact by:
      
    %h3
      Phone/WhatsApp: 
      = link_to '+852 5114 3026', "tel:+18008675309"

    %h3
      E-mail: 
      = mail_to "training@strengthtosize.com"
