#landing-page
  .section1
    .jumbotron.jumbotron-fluid
      .container
        %h1.display-3 Strength to Size
        %p.lead Coaching for quality strength
        %p.lead
          = link_to 'Get Started Now', contact_path, class: "btn btn-primary btn-lg"

  .section2
    .container
      = image_tag('partner_logos/hk_weightlifting.png')
      = image_tag('partner_logos/inspiringhk.png')
      = image_tag('partner_logos/warrior_academy.png')


  .section3
    .container
      %h2 Kay Kay Keung
      %h4 Founder, Strength & Conditioning Coach

      %hr
      %ul
        %li BA Exercise and Sport Science - University of North Carolina
        %li Certified Strength and Conditioning Specialist - National Strength and Conditioning Association
        %li Sports Performance Coach – USA Weightlifting
        %li Certified Exercise Physiologist - American College of Sports Medicine
        %li Precision Nutrition Certified - Precision Nutrition
        %li Joint Mobility & Movement Instructor - Agatsu
        %li Pre & Post Natal Fitness Instructor - Asian Academy for Sports & Fitness Professionals
        %li Certified Personal Trainer – PTA Global
        %li Kettlebell Instructor - Agatsu
        %li TRX Suspension Trainer - TRX
 
      %hr
      
      %ul
        %li Hong Kong National Lacrosse Team
        %li Lacrosse League Champion Team - Hong Kong Lacrosse League
        %li Limitless Challenge Champion, Advance 2 Division – Tissot Limitless Challenge
        %li 4x Marathon Runner
        %li Lacrosse National Champion Team – Women’s Collegiate Lacrosse Association DII
        %li Cross Country Champion Team - University Sports Federation of Hong Kong
        %li Cross Country Most Valuable Player – University of Hong Kong
