#landing-page
  .container
    position: relative

  .content-section
    padding-top: 30px
    padding-bottom: 30px

  .section-button
    position: absolute
    right: 10px

  .section1
    .jumbotron
      background-image: image-url('landing_main.jpg')
      background-size: cover
      background-position: center
      color: #fff
      margin-bottom: 0

  .section2
    text-align: center
    background-color: lighten($primary-2, 25)
    padding: 10px 0
    img
      height: 50px
      margin: 0 20px


  .section5
    .carousel-item
      padding-top: 40px
      padding-bottom: 40px
